.login{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #151823; */
    /* animation: textColor 10s ease infinite; */
    background: linear-gradient(-45deg, #615c5a, #30584b, #0d0e0e, #23d579);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100vw;
  
  .left-side{
    width: 65%;
    height: 100%;
    .left-data{
        margin-top: 150px;
        .page-header{
            height: 200px;
            margin-top: 200px;
        }
        .create-user{
            height: 350px;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            /*align-items: center;*/
            .email{
                display: flex;
                >label{
                    width: 30%;
                    justify-content: right;
                }
                .ant-input{
                    /* margin-left: 20px; */
                    width: 350px;
                }
                padding-bottom: 20px;
            }
            .password{
                display: flex;
                .ant-input-affix-wrapper{
                  width: 350px !important;
                  .ant-input{
                      width: 350px !important;
                  }
              }
              .ant-input-password{
                width: 350px !important;
                .ant-input{
                    width: 350px !important;
                }
            }
                >label{
                    width: 30%;
                }
                
                padding-bottom: 20px;
            }
            .login-button{
                align-self:center;
                width: 350px;
                .ant-btn{
                    align-items: center;
                    width: 50%;
                    background-color: #2EC37E;
                    border-color: #1A1A1A;
                    color: #0d0e0e;
                }
                .ant-btn:disabled{
                    background-color: #ffff;
                    color: rgb(0,0,0,0.25);
                }
            }
            .login-button:hover{
                transform: scale(1.1);
                border-color: aliceblue;
            }
            
        }
    }
    
  }
  .right-side{
    width: 35%;
    height: 100%;
    background: #1A1A1A;
    opacity: 0.9;
    border-radius: 10px;
    /* background-image: url('https://i.pinimg.com/originals/74/c7/81/74c781554de4f8827301fff8c72682c0.gif'); */
    background-size: cover;
    .right-text{
        margin-right: 20px;
        margin-top: 40px;
        opacity: 1;
        width: 100%;
        border-radius: 20px;
        height: 90%;
        .right-image{
            /* margin-left: 150px; */
            display: block;
            width: 100%;
            height: 50% !important;
            color: aliceblue;
            background-size: contain;
            /* background-image: url('https://www.pngmart.com/files/16/Speech-Chat-Icon-Transparent-PNG.png'); */
            background-image: url('https://i.pinimg.com/originals/d6/3e/59/d63e59c23830a01a891abaf86de9aa3e.gif');
        }
        .right-data{
          /* position: absolute;
          top: 0; */
        }
        .link-button{
            width: 200px;
            background-color: #2EC37E;
            opacity: 0.9;
            border-color: #1A1A1A;
            position: relative;
            color: #0d0e0e;
            .ant-btn-default{
            }
        }
        .link-button:hover{
            transform: scale(1.1);
            border-color: aliceblue;
        }
    }
  }
    
    /* :after {
        position: absolute;
        content: "";
        top: 5vw;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        transform: scale(0.75);
        -webkit-filter: blur(5vw);
        -moz-filter: blur(5vw);
        -ms-filter: blur(5vw);
        filter: blur(5vw);
        background: linear-gradient(270deg, #0fffc1, #7e0fff);
        background-size: 100% 100%;
        animation: animateGlow 10s ease infinite;
      } */
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes textColor {
    0% {
      color: #7e0fff;
    }
    50% {
      color: #0fffc1;
    }
    100% {
      color: #7e0fff;
    }
  }